
.card {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--prem-blue), var(--prem-green));
}

.card__header:after {
  background-image: linear-gradient(to bottom left, var(--prem-blue) 10%, var(--prem-green) 115%);
}

th {
  background-image: linear-gradient(to bottom right, var(--prem-blue) 50%, var(--prem-green) 100%);
  color: #fff;
  white-space: nowrap;
}

tbody {
  background-color: var(--light);
}

th,td {
  text-align: left;
  padding: 4px 27px;
}