<div class="card">
    <div #myca class="card__inner" (click)="myca.classList.toggle('is-flipped')">
        <div class="card__face card__face--front">
            <img height="100" alt="Premier League Logo" src="\assets\LB-prem.png">
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__header">
                </div>
                <div class="card__body">
                    
                </div>
            </div>
        </div>
    </div>
</div>