<div class="card">
    <div #myca class="card__inner" (click)="myca.classList.toggle('is-flipped')">
        <div class="card__face card__face--front">
            <img height="100" alt="Premier League Logo" src="\assets\premier league logo.png">
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__header">
                    <h2>Locality Bois Premier League</h2>
                </div>
                <div class="card__body">
                    <h3>JavaScript Wizard</h3>
                    <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
                </div>
            </div>
        </div>
    </div>
</div>