<div class="card">
    <div #myca class="card__inner" (click)="myca.classList.toggle('is-flipped')">
        <div class="card__face card__face--front">
            <img height="100" alt="Premier League Logo" src="https://raw.githubusercontent.com/krns21/LocalityBois/main/LocalityBois/src/assets/LB-prem.png">
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__header">
                  <h3>Premier League</h3>
                </div>
                <div class="card__body">
                    <table >
                            <th >Rank</th>
                            <th style="width:85%">Manager</th>
                            <th>GW</th>
                            <th>TOT</th>
                        <tbody>
                          <tr *ngFor = "let x of standings">
                            <td class="numeric">{{x.rank}}</td>
                            <td>{{x.player_name}}</td>
                            <td class="numeric">{{x.event_total}}</td>
                            <td class="numeric">{{x.total}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>