<div class="card">
    <div #myca class="card__inner" (click)="myca.classList.toggle('is-flipped')">
        <div class="card__face card__face--front">
            <img height="150" alt="FA Cup Logo" src="\assets\LB-facup logo.png">
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__header">
                    <h3>FA Cup</h3>
                </div>
                <div class="card__body">
                    <table >
                        <thead>
                          <tr>
                            <th>Rank</th>
                            <th style="width: 75%">Manager</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>TOT</th>
                            <th>Pts</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let x of standings">
                            <td class="numeric">{{x.rank}}</td>
                            <td>{{x.player_name}}</td>
                            <td class="numeric">{{x.won}}</td>
                            <td class="numeric">{{x.drawn}}</td>
                            <td class="numeric">{{x.lost}}</td>
                            <td class="numeric">{{x.points}}</td>
                            <td class="numeric">{{x.total}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>