.card {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--facup-blue), var(--facup-red) 115%);
  }
  
  .card__header:after {
    background-image: linear-gradient(to bottom left, var(--facup-blue) 10%, var(--facup-red) 115%);
  }

  th {
    background-image: linear-gradient(to bottom right, var(--facup-blue) 50%, var(--facup-red) 100%);
    color: #fff;
    white-space: nowrap;
  }
  
  tbody {
    background-color: var(--facup-light);
  }
