.card {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--europ-yellow), var(--europ-orange));
  }
  
  .card__header:after {
    background-image: linear-gradient(to bottom left, var(--europ-yellow) 10%, var(--europ-orange) 185%);
  }