.card {
    width: 100%;
    height: 600px;
    background-color: rgb(226, 174, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
  }