.card {
    width: 500px;
    height: 800px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
  }

  .card__face--front {
    background-image: linear-gradient(to bottom, var(--dark) 20%, var(--ballondor-gold) 180%);
  }
  
  .card__header:after {
    background-image: linear-gradient(to bottom left, var(--dark) 10%, var(--ballondor-gold) 185%);
  }

  th {
    background-image: linear-gradient(to bottom right, var(--dark) 150%,rgb(100, 90, 56) 100%);
    color: #fff;
    white-space: nowrap;
  }
  
  tbody {
    background-color: var(--ballon-light);
  }
  th,td {
    padding: 4px 10px;
  }