
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;

    display: flex;
    align-items: center;
    background-color: #1962c2;
    color: white;
    font-weight: 600;
  }


  .toolbar img {
    margin: 0 16px;
  }

  .content {
    width: auto;
    margin: auto;
    padding: 3rem;
    position: relative;
    top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .prem-card {
    width: 100%;
    height: 600px;
    background-color: rgb(92, 226, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
  }

  .champ-card {
    width: 100%;
    height: 600px;
    background-color: rgb(92, 226, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
  }

  .ballondor-card {
    width: 100%;
    height: 700px;
    background-color: rgb(92, 226, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top: 250px;
    left:auto
  }

  .facup-card {
    width: 100%;
    height: 600px;
    background-color: rgb(92, 226, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
  }

  .europ-card {
    width: 100%;
    height: 600px;
    background-color: rgb(226, 174, 30);
    color:darkcyan;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
  }

  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>

<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <img
    width="60"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <h1>{{title}}</h1>
    <div class="spacer"></div>
</div>
 

<div class="content">
  <div class="prem-card">Premier League</div>
  <div class="champ-card">Champions League</div>
  <div class="ballondor-card">Ballon d'Or</div>
  <div class="facup-card">FA Cup</div>
  <div class="europ-card">Europa League</div>
</div>




<router-outlet></router-outlet>
