/* You can add global styles to this file, and also import other style files */
:root{
    --prem-blue:#14b7df;
    --prem-green:#2cee7d;
    --dark:#061314;
    --light: #daecec;
    --champ-purple:#d14de2;
    --champ-blue:#378fe2;
    --ballondor-gold:#ae8625;
    --europ-yellow:#e2c51e;
    --europ-orange:#eb8f16;
    --facup-blue:#3176dd;
    --facup-red:#181bcf;
    --facup-light:#d6e3f7;
    --europ-light:#eee9be;
    --champ-light:#e8beee;
    --ballon-light:#f1eed1;
}

.card {
    width: 100%;
    height: 600px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .card__header {
    position: relative;
    padding: 5px 30px 5px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .card__header h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p {
    color:var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }

  .table {
    width: 100%;
  }

  th,td {
    text-align: left;
    padding: 4px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  tbody tr:nth-child(odd){
    background-color: #fff;
  }

  .numeric {
    text-align: center;
  }
  