.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left, rgb(223, 37, 37),rgb(22, 19, 14));
    color: whitesmoke;
    font-weight: 800;
  }


  .toolbar img {
    margin: 0 16px;
  }